version: 5.0.{build}
image: Visual Studio 2019
configuration: Release
build_script:
  - ps: dotnet build -c Release
test_script:
  - ps: pushd nClam.Tests; dotnet test; popd
artifacts:
  - path: nClam\bin\Release\*.nupkg
